[submodule "tools/steel-browser"]
	path = tools/steel-browser
	url = https://github.com/borgius/steel-browser.git
[submodule "n8n/mcp/jobspy-mcp-server"]
	path = n8n/mcp/jobspy-mcp-server
	url = https://github.com/borgius/jobspy-mcp-server.git
[submodule "n8n/mcp/steel-mcp-server"]
	path = n8n/mcp/steel-mcp-server
	url = https://github.com/borgius/steel-mcp-server.git
